.swiper-button-next {
  overflow: hidden;
  right: 20px;
  top: calc(50% - 26px);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.swiper-button-prev {
  overflow: hidden;
  right: -20px;
  top: calc(50% - 26px);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 30px;
  color: #333;

  transform: rotate(-180deg);
}

.swiper-button-next::after {
  content: "\2190";
}

.swiper-button-prev::after {
  content: "\2192";
}
